<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>222918386148-7d53r8nibkmsftf94q0aovklv33v1052.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.222918386148-7d53r8nibkmsftf94q0aovklv33v1052</string>
	<key>API_KEY</key>
	<string>AIzaSyBcHMo_idGfPnSOHuO1Z6CElClozue3FOo</string>
	<key>GCM_SENDER_ID</key>
	<string>222918386148</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>uofm.cssa.CssaAppV1</string>
	<key>PROJECT_ID</key>
	<string>umcssa-b6dfe</string>
	<key>STORAGE_BUCKET</key>
	<string>umcssa-b6dfe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:222918386148:ios:0ee5a2dacb54bc10e827f1</string>
	<key>DATABASE_URL</key>
	<string>https://umcssa-b6dfe.firebaseio.com</string>
</dict>
</plist>